@import url('https://fonts.googleapis.com/css?family=Montserrat');

* {
  font-family: 'Montserrat', sans-serif;

}

body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  margin: 2px;
  padding: 4px;
  background-color: white;
  max-width: 100%;
}

.nav-link {
  border-radius: 3px;
  color: black;
  border: 1px solid black;
  margin: 4px;
  padding: 4px;
  }

.InnerContainer {
  border: 1px solid black;
  margin: 2px;
  padding: 4px;
  background-color: red;

}

.HomePageContainer {
  border: 1px solid black;
  margin: 2px;
  padding: 4px;
  height: 100vh;
}

.BoxInner {
  border: 1px solid black;
  width: 50%;
  margin: 2px;
  padding: 4px;
  background-color: white;
}
