* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

//
body {
  margin: 0;
  padding: 0;
}

main {
  max-width: 100%;
  min-height: 100vh;

}


.nav-link {
  text-decoration: none;
  color: black;
    a {
      text-decoration: none;
    }
}

.container-fluid {
  background-color: white;
  color: black;
}

footer {
      background-color: black;
      color: white;
      text-align: center;
      padding: 25px;
    }

//==============social media===========
.fa {
    padding: 20px;
    width: 30px;
    text-align: center;
    text-decoration: none;
      .fa-github {
        border: 1px solid black;
      }
}


/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}
